.leaflet-container {
  cursor: default;
}
#map {
  width: 50%;
  height: 80%;
  margin: 40px auto;
  border: 1px solid #CECDD2;
}
html, body{
  background-color: black;
  height: 100%;
}
#fox {
  width: 335;
  height: 201;
}
