{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'colorbox.css' %}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.5/processing.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/i18n/jquery.colorbox-ja.js"></script>
  </head>
	<body>
    <div id="wrapper">
      <canvas id="main" data-processing-sources="{% static 'indoor_fish.pde' %}"></canvas>
		</div>
    <a class="iframe" href="http://127.0.0.1:8000/touringApp/showRoute/" title="showRoute">ここをclick</a>
		<script>

    // canvasサイズを画面に合わせる
    function sizing(){
    	$("#main").attr({height:$("#wrapper").height()});
    	$("#main").attr({width:$("#wrapper").width()});
    }
    // colorBox設定
    $(document).ready(function(){
      $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
    });
		</script>
	</body>
</html>
