{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    {% leaflet_js %}
    {% leaflet_css %}
		<link rel="stylesheet" href="{% static 'sample.css' %}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="map"></div>
		{% for pass in all %}
			<script>
				console.log({{ pass.latitude }});
			</script>
		{% endfor %}
		<script src="{% static 'route.js' %}"></script>
	</body>
</html>
